<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aymanjabr.tabour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentMethod"></activity>
        <activity android:name=".Ticket" />
        <activity android:name=".QuickOrderPage" />
        <activity android:name=".OrderPage" />
        <activity android:name=".LocationSearchPage" />
        <activity android:name=".MainSearchPagePopularity" />
        <activity android:name=".MainSearchPageCategory" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Sign_In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>